Library
Logs
Packages
UserSettings
ProjectSettings
Unity-Robotics-Hub-main
Temp
Task_Data/*/*/
Assets/Tasks/OBJ_scenes
# !Task_Data/*/*.stl
# !Task_Data/*/*.m
Build
Assessment/Task_Data
Assessment/PlotSTLs
Assessment/Pre-Study
Assessment/subjects.csv
Assets/3d_models
Assets/Tasks/Setup_files/*.blend
Assets/Tasks/Setup_files/*.blend1
Assets/Tasks
rosws/src/CMakeLists.txt
PlotSTLs
*.meta
*.csproj
*.sln
ActiveConstraints_Package.unitypackage
/Notes/graphs.ipynb