# Unity Build Files
Library
Logs
Packages
UserSettings
ProjectSettings
Build
Unity-Robotics-Hub-main
Temp
ActiveConstraints_Package.unitypackage

# Experimental Study Files
Assessment/Task_Data
Assessment/PlotSTLs
Assessment/Pre-Study
Assessment/Evaluation
Assessment/subjects.csv
Assessment/RESULTS

# 3D Files
Task_Data/*/*/
Assets/Tasks/OBJ_scenes
Assets/3d_models
Assets/Tasks/Setup_files/*.blend
Assets/Tasks/Setup_files/*.blend1
Assets/Tasks
PlotSTLs

# Others
/Notes
rosws/src/CMakeLists.txt
*.meta
*.csproj
*

# Essay and Executive Summary
Essay/
*Essay/Thesis_AR_Printable.pdf