<launch>    
    <node pkg="dvrk" name="wrench_safety_buffer" type="wrench_safety_buffer.py" output="screen">
    </node>

    <node pkg="dvrk" name="velocity_safety_virtualrelay" type="velocity_safety_virtualrelay.py" output="screen">
    </node>

    <node pkg="dvrk" name="set_wrench_frame_MTMR" type="set_wrench_frame_MTMR.py" output="screen">
    </node>

    <node pkg="dvrk" name="set_wrench_frame_MTML" type="set_wrench_frame_MTML.py" output="screen">
    </node>

    <node pkg="dvrk" name="gravitycomp_MTMR" type="gravitycomp_MTMR.py" output="screen">
    </node>

    <node pkg="dvrk" name="gravitycomp_MTML" type="gravitycomp_MTML.py" output="screen">
    </node>

    <node pkg="dvrk" name="setscale" type="setscale.py" output="screen">
    </node>
</launch>